on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    container:
      # image: ghcr.io/datadog/stratus-red-team:v2.23.2
      image: python:3.9.23-bookworm
    name: Stratus hello
    steps:
      - name: Print global variable
        env:
          SENSITIVE_VAR: ${{ secrets.HELLO }}
        run: echo $SENSITIVE_VAR
      - name: Install AWS CLI
        run: pip install awscli
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.STRATUS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.STRATUS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-west-2'
      - name: get caller identity 
        run: |
          aws sts get-caller-identity

      # - name: Run Stratus
      #   run: /stratus detonate aws.credential-access.secretsmanager-retrieve-secrets
name: 'Run Stratus Red Team'

on:
  workflow_dispatch:

jobs:
  run-stratus-red-team:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authenticating to AWS with OIDC
      contents: read

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Configure AWS Credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.STRATUS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.STRATUS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: 'Download Stratus Red Team'
        run: |
          wget https://github.com/DataDog/stratus-red-team/releases/download/v2.14.0/stratus-red-team_Linux_x86_64.tar.gz
          tar -xvf stratus-red-team_Linux_x86_64.tar.gz
          sudo mv stratus /usr/local/bin/

      - name: 'Run Stratus Red Team Detonation'
        run: |
          stratus detonate aws.persistence.iam-backdoor-user --cleanup
