on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/datadog/stratus-red-team:v2.23.2
    name: Stratus hello
    steps:
      - name: Print global variable
        run: echo $hello
      # - name: Run Stratus
      #   run: /stratus detonate aws.credential-access.secretsmanager-retrieve-secrets